.Menu {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  background-color: #ececeb;
  position: fixed;
  height: 100%;
}

.Menu .item{
  line-height: 5rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 4rem;
}

.Menu .item .text{
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.Menu .item.illustrations {
  line-height: 7rem;
}
.Menu .item.illustrations i{
  color: palevioletred;
  opacity: .7;
}

.Menu .item.illustrations .text{
  font-size: 1.5rem;
}

.Menu .item:hover .text{
  color: gray;
  cursor: pointer;
}

.Menu .item.illustrations:hover i{
  color: palevioletred;
  opacity: 1;
}

.Menu .item.active .text{
  color: #2a363b;
}
.Menu .LanguageSelector {
  margin-bottom: 10rem;
  margin-right: 4rem;
  margin-left: 3rem;
}

.LanguageSelector ul li:last-child:after {
  content: "";
  display: block;
  width: 1px;
  height: 8rem;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  right: 4rem;
  top: 6rem;
}

.Menu .closeButton {
  border: none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  opacity: 0.5;
  overflow-wrap: break-word;
  margin-bottom: 10rem;
  margin-right: 4rem;
  margin-left: 3rem;
  font-size: 1.5rem;
  text-align: right;
  padding: 0;
}

.Menu .closeButton i {
  margin-right: 10px;
}

.Menu .closeButton:hover {
  cursor: pointer;
  font-weight: 600;
  opacity: 1;
  background-color: inherit;
}

/*MacBook 13"*/
@media screen and (max-width: 1920px) {
  .Menu .LanguageSelector, .Menu .closeButton {
    margin-right: 3rem;
    margin-bottom: 7rem;
  }

  .Menu .item {
    margin: 0 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
  }
  .LanguageSelector ul li:last-child:after {
    right: 3rem;
    top: 5.5rem;
    height: 5rem;
  }

  .Menu .closeButton {
    font-size: 1rem;
  }
}
/*iPadPro Horizontal*/
@media screen and (max-width: 1382px) {
  .LanguageSelector ul li:last-child:after {
    display: none;
  }

  .Menu .closeButton {
    text-align: center;
    font-size: 1.5rem;
  }

  .Menu .item {
    display: none;
  }

  .Menu .item.illustrations{
    display: flex;
    margin: 0 3rem;
    justify-content: center;
    text-decoration: none;
    line-height: 0rem;
  }

  .Menu .item.illustrations .text{
    opacity: 1;
    font-size: 1.5rem;
  }
}
/*iPadPro Vertical / iPad HorizontaL*/
@media screen and (max-width: 1024px) {
  .Menu .item.illustrations .text{
    font-size: 1.5rem;
  }
}

/*iPhoneX horizontal*/
@media screen and (max-width: 900px) {
  .Menu .LanguageSelector {
    font-size: 0.9rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .Menu .closeButton {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    align-items: center;

  }
  .Menu .closeButton i {
    margin-bottom: 5px;
  }
  .Menu .item.illustrations .text{
    font-size: 1rem;
  }
}

/*iPad Vertical iPhone6/7/8 Horizontal*/
@media screen and (max-width: 768px) {
}

/*iPhoneX/iPhone6/7/8 vertical*/
@media screen and (max-width: 480px) {
  .Menu .LanguageSelector {
    margin: 2rem 0;
  }

  .Menu .closeButton {
    font-size: 0.7rem;
    margin: 2rem auto;
  }

  .Menu .item.illustrations{
    margin: 0;
  }

  .Menu .item.illustrations .text{
    font-size: .8rem;
  }
}
