body {
  background-color: #09101b;
}

.Illustrations {
  height: 100%;
  color: white;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 5rem;
}

.Illustrations .title {
  background-image: url("./title-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  height: clamp(3rem, 1rem + 10vw, 13rem);
  width: 80%;
  margin: 2rem auto;
}

.Illustrations .container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.Illustrations .container div {
  outline: none;
}

@media screen and (max-width: 900px) {
  .Illustrations .container {
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .Illustrations {
    margin-bottom: 3rem;
  }
}
