.conferences.work .body {
  flex-direction: column;
}

.conferences.work .body .description {
  width: 100%;
}
.conferences.work .body .description .project {
  padding-bottom: 1rem;
}

.conferences.work .body .description .project::after {
  display: none;
}
