body {
  background-color: #09101b;
}

.Animations {
  height: 100%;
  color: white;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 5rem;
}

.Animations .title {
  background-image: url("./title-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  height: 13rem;
  width: 80%;
  margin: 2rem auto;
}

.Animations .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.Animations .container div {
  outline: none;
}

.Animations .container .subtitle {
  padding: 12px;
  font-size: 2rem;
}
.Animations .container .symbol {
  color: tomato;
  margin-right: 10px;
}


.Animations .container .stickers img{
  background-color: #323d4c;
}

/* smartphone en portrait */
@media screen and (max-width: 479px) {
  .Animations .title {
    height: 3rem;
    width: 85%;
  }

}

/* smartphone in landscape, tablet in portrait and small tablet in landscape */
@media screen and (min-width: 480px) and (max-width: 959px) {
  .Animations .title {
    height: 4.5rem;
    width: 90%;
  }
}
