.About .content {
  font-size: clamp(1.1rem, 0.5rem + 1.4vw, 2.7rem);
  line-height: 1.45;
}

/*iPadPro Horizontal*/
@media screen and (max-width: 1382px) {
  .About {
    margin-top: 3rem;
    padding: 0 6rem 0 6rem;
  }
}

/*iPadPro Vertical / iPad Horizontal*/
@media screen and (max-width: 1024px) {
  .About {
    padding: 0 3rem 0 3rem;
  }
}

/*iPhoneX horizontal*/
@media screen and (max-width: 900px) {
  .About {
    padding: 0;
  }
}
