.media-item {
  position: relative;
}
.media-item img.youtubeLogo {
  height: clamp(1.2rem, 0.8rem + 0.6vw, 1.7rem);
  width: clamp(1.2rem, 0.8rem + 0.6vw, 1.7rem);
  position: absolute;
  top: clamp(7rem, 4rem + 8vw, 11rem);
}
