.Skills .skill {
  margin-bottom: clamp(2rem, 1rem + 1.5vw, 4.5rem);
}

.Skills .skill .highlight-marker {
  white-space: nowrap;
  position: relative;
}

.Skills .skill .highlight-marker::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: rgb(153, 153, 153);
  opacity: 0.3;
}
