.Section {
  margin-top: 8rem;
  text-align: left;
  padding: 0 12rem 0 9rem;
}

.Section .title {
  text-transform: uppercase;
  font-size: clamp(1.3rem, 0.6rem + 1.4vw, 2.5rem);
}

.Section .title h3 {
  margin: 0;
}

.Section .title:before,
.Section .title:after {
  content: "";
  display: block;
  width: 35px;
  height: 7px;
  background: #2a363b;
}

.Section .title:before {
  margin-bottom: 1rem;
}

.Section .title:after {
  margin-left: 40px;
  margin-top: 0.3rem;
}

.Section .content {
  padding-top: 2rem;
  font-family: "Raleway", sans-serif;
  text-align: left;
  color: rgb(153, 153, 153);
  font-size: clamp(1rem, 0.4rem + 1.2vw, 1.8rem);
  line-height: 1.55;
  font-weight: 300;
}

.Section .content .item {
  margin-bottom: clamp(2rem, 1rem + 2vw, 5rem);
}

/*MacBook 13"*/
@media screen and (max-width: 1920px) {
  .Section {
    padding: 0 10rem 0 10rem;
    margin-top: 6rem;
  }
}

/*iPadPro Horizontal*/
@media screen and (max-width: 1382px) {
  .Section {
    padding: 0 6rem 0 6rem;
    margin-top: 5rem;
  }
}

/*iPadPro Vertical / iPad Horizontal*/
@media screen and (max-width: 1024px) {
  .Section {
    padding: 0 3rem 0 3rem;
    margin-top: 4rem;
  }
}

/*iPhoneX horizontal*/
@media screen and (max-width: 900px) {
  .Section {
    margin: 3rem 2rem 1.5rem 2rem;
    padding: 0;
  }
}

/*iPad Vertical iPhone6/7/8 Horizontal*/
@media screen and (max-width: 768px) {
  .Section {
    margin: 2.5rem 1.5rem 1.5rem 1.5rem;
  }
  .Section .content {
    padding-top: 1.5rem;
  }
}

/*iPhoneX/iPhone6/7/8 vertical*/
@media screen and (max-width: 480px) {
  .Section {
    margin: 2rem 1rem 1rem 1rem;
  }
  .Section .content {
    padding-top: 1rem;
  }
  .Section .title:before,
  .Section .title:after {
    width: 24px;
    height: 5px;
  }
  .Section .title:after {
    margin-left: 28px;
  }
}
